[submodule "c/include/BFL"]
	path = c/include/BFL
	url = git@github.com:SrVariable/BFL.git
[submodule "c/include/MLX42"]
	path = c/include/MLX42
	url = https://github.com/42-Fundacion-Telefonica/MLX42
