[submodule "c/include/BFL"]
	path = c/include/BFL
	url = https://github.com/SrVariable/BFL
[submodule "c/include/MLX42"]
	path = c/include/MLX42
	url = https://github.com/42-Fundacion-Telefonica/MLX42
